body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text] {
    width: 70%;
    padding: 5px;
    border: 3px solid black;
    resize: vertical;
  }

select {
    padding: 5px;
    border: 3px solid black;
    resize: vertical;
}

.container {
    border-radius: 5px;
    background-color: lightgray;
    border: solid;
    padding: 20px;
  }

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: right;
    width: 75%;
    margin-top: 6px;
  }

.row::after {
    content: "";
    display: table;
    clear: both;
  }

.btns-container {
    text-align: center; 
    margin-top: 20px; 
  }

.link-container {
    text-align: center;
    margin-top: 20px; 
}
